{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!--end top header-->


<!--start page content-->
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="{%url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product details-->
   <section class="section-padding">
    <div class="container">
       <div class="row g-4">
          <div class="col-12 col-xl-6">
            <h3 class="fw-bold">Our Story</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.</p>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College.</p>
          </div>
          <div class="col-12 col-xl-6">
             <img src="{% static '../../../photos/7679877/pexels-photo-7679877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' %}" class="img-fluid" alt="">     
          </div>
       </div><!--end row-->

       <div class="separator section-padding">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Why Choose Us</h3>
        <div class="line"></div>
      </div>J

       <div class="row row-cols-1 row-cols-xl-3 g-4 why-choose">
        <div class="col d-flex">
          <div class="card rounded-0 shadow-none w-100">
            <div class="card-body">
              <img src="{% static 'assets/images/icons/delivery.webp' %}" width="60" alt="">
              <h5 class="my-3 fw-bold">Free Shipping</h5>
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex">
          <div class="card rounded-0 shadow-none w-100">
            <div class="card-body">
              <img src="{% static 'assets/images/icons/money-bag.webp' %}" width="60" alt="">
              <h5 class="my-3 fw-bold">100% Back Gaurantee</h5>
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex">
          <div class="card rounded-0 shadow-none w-100">
            <div class="card-body">
              <img src="{% static 'assets/images/icons/support.webp' %}" width="60" alt="">
              <h5 class="my-3 fw-bold">Online Support 24/7</h5>
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
            </div>
          </div>
        </div>
      </div>

       <div class="separator section-padding">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Shop By Brands</h3>
        <div class="line"></div>
      </div>

       <div class="brands">
        <div class="row row-cols-2 row-cols-lg-5 g-4">
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/01.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/02.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/03.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/04.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/05.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/06.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/07.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/08.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/09.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="javascript:;">
                  <img src="{% static 'assets/images/brands/10.webp' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>

    </div>
  </section>
   <!--start product details-->

 </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="{% static 'assets/images/logo1.png' %}" class="logo-img mb-6" alt="3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
             </div>

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>


<!--start cart-->



<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->
  
{% endblock %}