{% extends 'base.html'%}
{% load static %}
{% block content %}

  <!--end top header-->


<!--start page content-->
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop With Grid</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product details-->
   <section class="section-padding">
    <div class="container">
      <div class="d-flex align-items-center px-3 py-2 border mb-4">
        <div class="text-start">
          <h4 class="mb-0 h4 fw-bold">Account - Orders</h4>
       </div>
      </div>
      <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-person me-2"></i>Account</span></div>
       <div class="row">
          <div class="col-12 col-xl-3 filter-column">
              <nav class="navbar navbar-expand-xl flex-wrap p-0">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title mb-0 fw-bold text-uppercase" id="offcanvasNavbarFilterLabel">Account</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body account-menu">
                    <div class="list-group w-100 rounded-0">
                      <a href="{% url 'account_dashboard' %}" class="list-group-item"><i class="bi bi-house-door me-2"></i>Dashboard</a>
                      <a href="{% url 'account_orders' %}" class="list-group-item"><i class="active"><i class="bi bi-basket3 me-2"></i>Orders</a>
                      {% if  user.profile.pk %}
                      <a class="list-group-item" href="{%url 'account_edit' user.profile.pk%}"><i class="bi bi-pencil me-2"></i>Edit Profile</a>
                      {% endif %}
                      <a href="{% url 'wishlist' %}" class="list-group-item"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                      <a href="{% url 'authentication_login' %}" class="list-group-item"><i class="bi bi-power me-2"></i>Logout</a>
                    </div>
                  </div>
                </div>
            </nav>
          </div>
          <div class="col-12 col-xl-9">

            <div class="card rounded-0 mb-3 bg-light">
              <div class="card-body">
                <div class="d-flex flex-column flex-xl-row gap-3 align-items-center">
                  <div class="">
                     <h5 class="mb-1 fw-bold">All Orders</h5>
                     <p class="mb-0">for anytime</p>
                  </div>
                  <div class="order-search flex-grow-1">
                     <form>
                      <div class="position-relative">
                        <input type="text" class="form-control ps-5 rounded-0" placeholder="Search Product...">
                        <span class="position-absolute top-50 product-show translate-middle-y"><i class="bi bi-search ms-3"></i></span>
                     </div>
                     </form>
                  </div>
                  <div class="filter">
                    <button type="button" class="btn btn-dark rounded-0" data-bs-toggle="modal" data-bs-target="#FilterOrders"><i class="bi bi-filter me-2"></i>Filter</button>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="card rounded-0 mb-3">
              <div class="card-body">
                <div class="d-flex flex-column flex-xl-row gap-3">
                 <div class="product-img">
                    <img src="assets/images/featured-products/05.webp" width="120" alt="">
                 </div>
                  <div class="product-info flex-grow-1">
                    <h5 class="fw-bold mb-1">AKS - Checked Straight Kurta</h5>
                      <p class="mb-0"> Women Pink & White Printed Straight Kurta</p>
                     <div class="mt-3 hstack gap-2">
                       <button type="button" class="btn btn-sm border rounded-0">category : Fashion</button>
                       <button type="button" class="btn btn-sm border rounded-0">price : $2.00</button>
                  </div>
                 </div>
                 <div class="d-none d-xl-block vr"></div>
                 <div class="d-grid align-self-start align-self-xl-center">
                  <button type="button" class="btn btn-outline-dark btn-ecomm">View Details</button>
                 </div>
                </div>
              </div>
              <div class="card-footer rounded-0 bg-light">
              </div>
            </div>

            <div class="card rounded-0 mb-3">
              <div class="card-body">
                <div class="d-flex flex-column flex-xl-row gap-3">
                 <div class="product-img">
                    <img src="assets/images/featured-products/02.webp" width="120" alt="">
                 </div>
                  <div class="product-info flex-grow-1">
                    <h5 class="fw-bold mb-1">AKS - Checked Straight Kurta</h5>
                      <p class="mb-0"> Women Pink & White Printed Straight Kurta</p>
                     <div class="mt-3 hstack gap-2">
                       <button type="button" class="btn btn-sm border rounded-0">category : Dresses</button>
                       <button type="button" class="btn btn-sm border rounded-0">price : $7.50</button>
                  </div>
                 </div>
                 <div class="d-none d-xl-block vr"></div>
                 <div class="d-grid align-self-start align-self-xl-center">
                  <button type="button" class="btn btn-outline-dark btn-ecomm">View Details</button>
                 </div>
                </div>
              </div>
              <div class="card-footer rounded-0 bg-light">
              </div>
            </div>

            <div class="card rounded-0">
              <div class="card-body">
                <div class="d-flex flex-column flex-xl-row gap-3">
                 <div class="product-img">
                    <img src="assets/images/featured-products/06.webp" width="120" alt="">
                 </div>
                  <div class="product-info flex-grow-1">
                    <h5 class="fw-bold mb-1">AKS - Checked Straight Kurta</h5>
                      <p class="mb-0"> Women Pink & White Printed Straight Kurta</p>
                     <div class="mt-3 hstack gap-2">
                       <button type="button" class="btn btn-sm border rounded-0">category : clothes</button>
                       <button type="button" class="btn btn-sm border rounded-0">price : $5.00</button>
                  </div>
                 </div>
                 <div class="d-none d-xl-block vr"></div>
                 <div class="d-grid align-self-start align-self-xl-center">
                  <button type="button" class="btn btn-outline-dark btn-ecomm">View Details</button>
                 </div>
                </div>
              </div>
              <div class="card-footer rounded-0 bg-light">
              </div>
            </div>


          </div>
       </div><!--end row-->
    </div>
  </section>
   <!--start product details-->


   <!-- filter Modal -->
    <div class="modal" id="FilterOrders" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title fw-bold">Filter Orders</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h6 class="mb-3 fw-bold">Status</h6>
              <div class="status-radio d-flex flex-column gap-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="">
                  <label class="form-check-label" for="flexRadioDefault1">
                    All 
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    On the way
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Delivered
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                  <label class="form-check-label" for="flexRadioDefault4">
                    Cancelled
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                  <label class="form-check-label" for="flexRadioDefault5">
                    Returned
                  </label>
                </div>
              </div>
              <hr>
              <h6 class="mb-3 fw-bold">Time</h6>
              <div class="status-radio d-flex flex-column gap-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioTime" id="flexRadioDefault6" checked="">
                  <label class="form-check-label" for="flexRadioDefault6">
                    Anytime 
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioTime" id="flexRadioDefault7">
                  <label class="form-check-label" for="flexRadioDefault7">
                    Last 30 days
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioTime" id="flexRadioDefault8">
                  <label class="form-check-label" for="flexRadioDefault8">
                    Last 6 months
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioTime" id="flexRadioDefault9">
                  <label class="form-check-label" for="flexRadioDefault9">
                    Last year
                  </label>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <div class="d-flex align-items-center gap-3 w-100">
              <button type="button" class="btn btn-outline-dark btn-ecomm w-50">Clear Filters</button>
              <button type="button" class="btn btn-dark btn-ecomm w-50">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Filters Modal -->


 </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="assets/images/logo1.png" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
             </div>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>





<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->

{% endblock %}