{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--start page content-->
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product details-->
   <section class="section-padding">
    <div class="container">
      <div class="d-flex align-items-center px-3 py-2 border mb-4">
        <div class="text-start">
          <h4 class="mb-0 h4 fw-bold">Account - Edit Profile</h4>
       </div>
      </div>
      <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-person me-2"></i>Account</span></div>
       <div class="row">
        <div class="col-12 col-xl-3 filter-column">
          <nav class="navbar navbar-expand-xl flex-wrap p-0">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title mb-0 fw-bold text-uppercase" id="offcanvasNavbarFilterLabel">Account</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body account-menu">
                <div class="list-group w-100 rounded-0">
                  <a href="{%url 'account_dashboard' %}" class="list-group-item"><i class="bi bi-house-door me-2"></i>Dashboard</a>
                  <a href="{% url 'account_orders' %}" class="list-group-item"><i class="bi bi-basket3 me-2"></i>Orders</a>
                  {% if  user.profile.pk %}
                  <a class="list-group-item" href="{%url 'account_profile'%}"><i class="bi bi-person me-2"></i>Profile</a>
                  <a class="list-group-item" href="{%url 'account_edit' user.profile.pk%}"><i class="bi bi-pencil me-2"></i>Edit Profile</a>
                {% endif %}
                {%if user.is_authenticated and not user.profile.pk %}
                  <a class="list-group-item" href="{%url 'create_profile'%}"><i class="bi bi-pencil me-2"></i>Create Profile</a>
                {% endif %}
                  <a href="{%url 'wishlist' %}" class="list-group-item"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                  <a href="{%url 'logout_user' %}" class="list-group-item "><i class="bi bi-power me-2"></i>Logout</a>
                </div>
              </div>
            </div>
        </nav>
      </div>
          <div class="col-12 col-xl-7">
            <div class="card rounded-0">
              <div class="card-body p-lg-5">
                {% if user.profile.pk %}
                  <h5 class="mb-0 fw-bold">Edit Profile</h5>
                {% else %}
                  <h5 class="mb-0 fw-bold">Create Profile</h5>
                {% endif %}
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="row row-cols-1 g-3">
                    <strong class="text-danger">{{error}}</strong>
                    <div class="col"> 
                      <div class="form-floating">
                        {% if user.profile.pk %}
                        <input type="text" value="{{profile_form.name.value}}" name="name" class="form-control rounded-0" placeholder="Name" Required>
                        {% else%}
                        <input type="text" name="name" class="form-control rounded-0" placeholder="Name" Required>
                        {% endif %}
                      <label >{{profile_form.name.label}}</label>
                      </div>
                    </div>
                    <div class="col"> 
                      <div class="form-floating">
                        {% if user.profile.pk %}
                        <input type="text" name="location" value="{{profile_form.location.value}}" class="form-control rounded-0" placeholder="Name"  Required>
                        {% else %}
                        <input type="text" name="location" class="form-control rounded-0" placeholder="Name"  Required>
                        {% endif %}
                        <label >{{profile_form.location.label}}</label>
                      </div>
                    </div>
                    <div class="col"> 
                      <div class="form-floating">
                        {% if user.profile.pk %}
                          <input type="tel" name="phone_number" value={{profile_form.phone_number.value}} class="form-control rounded-0" placeholder="Name"  Required>
                        {% else %}
                          <input type="tel" name="phone_number" class="form-control rounded-0" placeholder="Name"  Required>
                        {% endif %}
                          <label >{{profile_form.phone_number.label}}</label>
                      </div>
                    </div>
                    <div class="col"> 
                      <div class="form-floating">
                        {% if user.profile.pk %}
                          <input type="text" name="date_of_birth" value={{profile_form.date_of_birth.value}} class="form-control rounded-0" placeholder="Name"  Required>
                        {% else %}
                          <input type="text" name="date_of_birth" class="form-control rounded-0" placeholder="Name"  Required>
                        {% endif %}
                          <label >{{profile_form.date_of_birth.label}}</label>
                      </div>
                    </div>

                    <div class="col">
                      <button type="submit" class="btn btn-dark py-3 btn-ecomm w-100">Save Details</button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-outline-dark py-3 btn-ecomm w-100" data-bs-toggle="modal" data-bs-target="#ChangePasswordModal">Change Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
       </div><!--end row-->
    </div>
  </section>


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="assets/images/logo1.png" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@KassyandI.com</p>
             </div>

  
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.KassyandI.com | All rights reserved.</p>
  </footer>


<!--start cart-->




<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->
{% endblock %}