{% load static %}
<!doctype html>
<html lang="en" class="light-theme">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/logo1.webp' %}" type="image/webp">

  <!-- CSS files -->
  <link href="{%static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="../../../css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../npm/bootstrap-icons%401.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick-theme.css' %}">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/dark-theme.css' %}" rel="stylesheet">

  <title>KassyandI</title>
</head>

<body>

     <!--page loader-->
  <div class="loader-wrapper">
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
 <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand-xl w-100 navbar-dark container gap-3">
      <a class="navbar-brand d-none d-xl-inline" href="index.html"><img src="{% static 'assets/images/logo1.webp' %}" class="logo-img" alt=""></a>
      <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
        <i class="bi bi-list"></i>
      </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <div class="offcanvas-logo"><img src="{% static 'assets/images/logo1.png' %}" class="logo-img" alt="">
          </div>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body primary-menu">
          <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html" data-bs-toggle="dropdown">
                Categories
              </a>
              <div class="dropdown-menu dropdown-large-menu">
                <div class="row">
                  <div class="col-12 col-xl-4">
                    <h6 class="large-menu-title">Fashion</h6>
                    <ul class="list-unstyled">
                      <li><a href="javascript:;">Casual T-Shirts</a>
                      </li>
                      <li><a href="javascript:;">Formal Shirts</a>
                      </li>
                      <li><a href="javascript:;">Jackets</a>
                      </li>
                      <li><a href="javascript:;">Jeans</a>
                      </li>
                      <li><a href="javascript:;">Dresses</a>
                      </li>
                      <li><a href="javascript:;">Sneakers</a>
                      </li>
                      <li><a href="javascript:;">Belts</a>
                      </li>
                      <li><a href="javascript:;">Sports Shoes</a>
                      </li>
                    </ul>
                  </div>
                  <!-- end col-3 -->
                  <div class="col-12 col-xl-4">
                    <h6 class="large-menu-title">Electronics</h6>
                    <ul class="list-unstyled">
                      <li><a href="javascript:;">Mobiles</a>
                      </li>
                      <li><a href="javascript:;">Laptops</a>
                      </li>
                      <li><a href="javascript:;">Macbook</a>
                      </li>
                      <li><a href="javascript:;">Televisions</a>
                      </li>
                      <li><a href="javascript:;">Lighting</a>
                      </li>
                      <li><a href="javascript:;">Smart Watch</a>
                      </li>
                      <li><a href="javascript:;">Galaxy Phones</a>
                      </li>
                      <li><a href="javascript:;">PC Monitors</a>
                      </li>
                    </ul>
                  </div>
                  <!-- end col-3 -->
                  <div class="col-12 col-xl-4 d-none d-xl-block">
                    <div class="pramotion-banner1">
                      <img src="{%static 'assets/images/menu-img.webp' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                Shop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'cart' %}">Shop Cart</a></li>
                <li><a class="dropdown-item" href="{%url 'wishlist' %}">Wishlist</a></li>
                <li><a class="dropdown-item" href="{%url 'payment_method' %}">Payment Method</a></li>
                <li><a class="dropdown-item" href="{%url 'billing_details' %}">Billing Details</a></li>
                <li><a class="dropdown-item" href="{%url 'address' %}">Addresses</a></li>
                <li><a class="dropdown-item" href="{%url 'shop_grid' %}">Shop Grid</a></li>
                <li><a class="dropdown-item" href="{%url 'shop_grid_type_4' %}">Shop Grid 4</a></li>
                <li><a class="dropdown-item" href="{%url 'shop_grid_type_5'%}">Shop Grid 5</a></li>
                <li><a class="dropdown-item" href="{%url 'search' %}">Search</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'aboutus' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contact_us' %}">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'account_dashboard' %}">Dashboard</a></li>
                <li><a class="dropdown-item" href="#">My Orders</a></li>
                <li><a class="dropdown-item" href="{%url 'account_profile'%}">My Profile</a></li>
                <li><a class="dropdown-item" href="{%url 'account_edit'%}">Edit Profile</a></li>
                <li><a class="dropdown-item" href="{%url 'address' %}">Addresses</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{%url 'authentication_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{%url 'signup_user' %}">Register</a></li>
                <li><a class="dropdown-item" href="{%url 'authentication_reset_password'%}">Password</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <ul class="navbar-nav secondary-menu flex-row">
        <li class="nav-item">
          <a class="nav-link dark-mode-icon" href="javascript:;">
            <div class="mode-icon">
              <i class="bi bi-moon"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'search' %}"><i class="bi bi-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'wishlist' %}"><i class="bi bi-suit-heart"></i></a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
          <a class="nav-link position-relative" href="javascript:;">
            <div class="cart-badge">8</div>
            <i class="bi bi-basket2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'account_dashboard'%}"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}

  <!-- JavaScript files -->
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/index.js' %}"></script>
  <script src="{% static 'assets/js/loader.js' %}"></script>
</body>