{% extends 'base.html' %}
{% load static %}
{%block content %}
  <!--end top header-->


<!--start page content-->
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="{%url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product details-->
   <section class="section-padding">
    <div class="container">

      <div class="separator mb-3">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Find Us Map</h3>
        <div class="line"></div>
      </div>

      <div class="border p-3">
        <iframe class="w-100" src="https://maps.google.com/maps?q=lagos,%20nigeria&t=k&z=13&ie=UTF8&iwloc=&output=embed" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

       <div class="separator my-3">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Why Choose Us</h3>
        <div class="line"></div>
      </div>

      <div class="row g-4">
        <div class="col-xl-8">
          <div class="p-4 border">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-body">
                <h4 class="mb-0 fw-bold">Drop Us a Line</h4>
                <div class="my-3 border-bottom"></div>
                <div class="mb-3">
                  <label class="form-label">Enter Your Name</label>
                  <input name="name" type="text" class="form-control rounded-0">
                </div>
                <div class="mb-3">
                  <label class="form-label">Enter Email</label>
                  <input type="text" name="email" class="form-control rounded-0">
                </div>
                <div class="mb-3">
                  <label class="form-label">Phone Number</label>
                  <input type="text" name="phone_number" class="form-control rounded-0">
                </div>
                <div class="mb-3">
                  <label class="form-label">Message</label>
                  <textarea class="form-control rounded-0" name="message" rows="4" cols="4"></textarea>
                </div>
                <div class="mb-0">
                  <button type="submit" class="btn btn-dark btn-ecomm">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="p-3 border">
            <div class="address mb-3">
              <h5 class="mb-0 fw-bold">Address</h5>
              <p class="mb-0 font-12">lagos, Nigeria</p>
            </div>
            <hr>
            <div class="phone mb-3">
              <h5 class="mb-0 fw-bold">Phone</h5>
              <p class="mb-0 font-13">Toll Free (123) 456-789</p>
              <p class="mb-0 font-13">Mobile : +234-xxx-xxx-xxxx</p>
            </div>
            <hr>
            <div class="email mb-3">
              <h5 class="mb-0 fw-bold">Email</h5>
              <p class="mb-0 font-13">mail@example.com</p>
            </div>
            <hr>
            <div class="working-days mb-0">
              <h5 class="mb-0 fw-bold">Working Days</h5>
              <p class="mb-0 font-13">Mon - FRI / 9:30 AM - 6:30 PM</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
   <!--start product details-->

 </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="{% static 'assets/images/logo1.png' %}" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
             </div>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>


<!--start cart-->


<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->
{% endblock %}