{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{%url 'contact_us' %}">Contact Us</a></li>
          <li class="breadcrumb-item active" aria-current="page">Page Details</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product details-->
   <section class="py-4">
    <div class="container">
       <div class="row g-4">
          <div class="col-12 col-xl-7">
            <div class="product-images">
                <div class="product-zoom-images">
                  <div class="row row-cols-2 g-3">
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/01.jpg">
                        <img src="{{product.images.url}}" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div><!--end row-->
                </div>
            </div>
            <hr class="my-3">
            <div class="product-info">
              <h6 class="fw-bold mb-3">Product Details</h6>
               <p class="mb-1">There are many variations of passages of Lorem Ipsum</p>
               <p class="mb-1">All the Lorem Ipsum generators on the Internet tend to repeat</p>
               <p class="mb-1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
               <p class="mb-1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="product-info">
                  <h4 class="product-title fw-bold mb-1">{{product.name}}</h4>
                  <p class="mb-0">{{product.description|truncatechars:30}}</p>
                  <div class="product-rating">
                    <div class="hstack gap-2 border p-1 mt-3 width-content">
                      <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-warning"></i></div>
                      <div class="vr"></div>
                      <div>162 Ratings</div>
                    </div>
                  </div>
                  <hr>
                  <div class="product-price d-flex align-items-center gap-3">
                     <div class="h4 fw-bold">${{product.price}}</div>
                  </div>
                  <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>
                  <hr>
                  <div class="size-chart mt-4">
                    <h6 class="fw-bold mb-3">Select Size</h6>
                    <div class="d-flex align-items-center gap-2 flex-wrap">
                     <div class="">
                       <button type="button">XS</button>
                     </div>
                     <div class="">
                      <button type="button">S</button>
                    </div>
                     <div class="">
                      <button type="button">M</button>
                    </div>
                    <div class="">
                      <button type="button">L</button>
                    </div>
                    <div class="">
                      <button type="button">XL</button>
                    </div>
                    <div class="">
                      <button type="button">XXL</button>
                    </div>
                   </div>
                  </div>
                  <div class="cart-buttons mt-3">
                    <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4">
                      <a href="javascript:;" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 col-lg-6"><i class="bi bi-basket2 me-2"></i>Add to Bag</a>
                      <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                    </div>
                  </div>
                  <hr class="my-3">
            </div>
          </div>
       </div><!--end row-->
    </div>
  </section>
   <!--start product details-->


  <!--start product details-->
  <section class="section-padding">
    <div class="container">
      <div class="separator pb-3">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Similar Products</h3>
        <div class="line"></div>
      </div>
      <div class="similar-products">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/best-sellar/03.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/best-sellar/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/04.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
             </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/03.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/featured-products/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/01.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
             <div class="card rounded-0">
              <img src="assets/images/trending-product/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>

  
        </div>
        <!--end row-->
      </div>
    </div>
  </section>
  <!--end product details-->

  
 </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="assets/images/logo1.png" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
             </div>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>


<!--start cart-->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-section-2"> 
    <h5 class="mb-0 fw-bold" id="offcanvasRightLabel">8 items in the cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="cart-list">

        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/01.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/02.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/03.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/04.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/05.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/06.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/07.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/08.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/09.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="{% static 'assets/images/new-arrival/10.webp' %}" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-footer p-3 border-top">
      <div class="d-grid">
        <button type="button" class="btn btn-lg btn-dark btn-ecomm px-5 py-3">Checkout</button>
      </div>
    </div>

</div>
<!--end cat-->



<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->
  

{% endblock %}