{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en"> 

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
	<link rel="icon" href="{%static 'assets/images/logo1.webp' %}" type="image/webp">

  <!-- CSS files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="../../../css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../npm/bootstrap-icons%401.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="{%static 'assets/plugins/slick/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{%static 'assets/plugins/slick/slick-theme.css' %}">

  <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{%static 'assets/css/dark-theme.css' %}" rel="stylesheet">

  <title>KassyandI</title>
</head>

<body class="bg-section-1">

  <!--page loader-->
  <div class="loader-wrapper">
   <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
     <div class="spinner-border text-dark" role="status">
       <span class="visually-hidden">Loading...</span>
     </div>
   </div>
 </div>
<!--end loader-->

 <!--start page content-->

<section class="section-padding bg-section-2">
  <div class="container">
     <div class="d-flex align-items-center">
        <div class="">
          <h3 class="mb-0 fw-bold">Search Products</h3>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn-close" onclick="history.back()" aria-label="Close"></button>
        </div>
     </div>
      <div class="search-box position-relative mt-4">
        <div class="position-absolute position-absolute top-50 start-0 translate-middle ms-4 fs-5"><i class="bi bi-search"></i></div>
        <input class="form-control form-control-lg ps-5 rounded-0" type="text" placeholder="Type here to search">
      </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
     <h5 class="mb-0 fw-bold">Explore by categories</h5>
      <div class="search-categories mt-4">
         <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-5 g-4">
           <div class="col">
             <div class="card border-0 rounded-0 shadow bg-green">
               <div class="card-body p-4">
                  <div class="d-flex align-items-center">
                     <div>
                        <h5 class="mb-0 fw-bold text-white">Men Fashion</h5>
                      </div> 
                     <div class="ms-auto fs-1 text-white">
                        <i class="bi bi-cast"></i>
                     </div> 
                  </div>
               </div>
             </div>
           </div>
           <div class="col">
            <div class="card border-0 rounded-0 shadow bg-pink">
              <div class="card-body p-4">
                 <div class="d-flex align-items-center">
                    <div>
                       <h5 class="mb-0 fw-bold text-white">Kids Wear</h5>
                     </div> 
                    <div class="ms-auto fs-1 text-white">
                      <i class="bi bi-boombox"></i>
                    </div> 
                 </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-0 shadow bg-skyblue">
              <div class="card-body p-4">
                 <div class="d-flex align-items-center">
                    <div>
                       <h5 class="mb-0 fw-bold text-white">Electronics</h5>
                     </div> 
                    <div class="ms-auto fs-1 text-white">
                      <i class="bi bi-film"></i>
                    </div> 
                 </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-0 shadow bg-purple">
              <div class="card-body p-4">
                 <div class="d-flex align-items-center">
                    <div>
                       <h5 class="mb-0 fw-bold text-white">Furniture</h5>
                     </div> 
                    <div class="ms-auto fs-1 text-white">
                      <i class="bi bi-music-note-beamed"></i>
                    </div> 
                 </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-0 shadow bg-yellow">
              <div class="card-body p-4">
                 <div class="d-flex align-items-center">
                    <div>
                       <h5 class="mb-0 fw-bold text-white">Sports</h5>
                     </div> 
                    <div class="ms-auto fs-1 text-white">
                      <i class="bi bi-person-lines-fill"></i>
                    </div> 
                 </div>
              </div>
            </div>
          </div>
         </div><!--end row-->

         <h5 class="fw-bold mb-3 mt-5">Trending Searches</h5>
         <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
           <div class="col">
            <div class="list-group list-group-flush search-categories">
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Women Topwear Fashion</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Kids School Dresses</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Best Mobile in Samsung</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Top Selling Brands</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Men'sports Watches</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Formal Shirts for Women</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Casual Pants for Men</a>
            </div>
           </div> 
           <div class="col">
            <div class="list-group list-group-flush search-categories">
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Women Topwear Fashion</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Kids School Dresses</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Best Mobile in Samsung</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Top Selling Brands</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Men'sports Watches</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Formal Shirts for Women</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Casual Pants for Men</a>
            </div>
           </div>  
           <div class="col">
            <div class="list-group list-group-flush search-categories">
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Women Topwear Fashion</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Kids School Dresses</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Best Mobile in Samsung</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Top Selling Brands</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Men'sports Watches</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Formal Shirts for Women</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Casual Pants for Men</a>
            </div>
           </div>  
           <div class="col">
            <div class="list-group list-group-flush search-categories">
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Women Topwear Fashion</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Kids School Dresses</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Best Mobile in Samsung</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Top Selling Brands</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Men'sports Watches</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Formal Shirts for Women</a>
              <a href="javascript:;" class="list-group-item list-group-item-action py-3"><i class="bi bi-arrow-up-right me-2"></i>Casual Pants for Men</a>
            </div>
           </div>  

         </div><!--end row-->



      </div>
  </div>
</section>

<!--end page content-->



  <!-- JavaScript files -->
  <script src="{%static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/js/jquery.min.js' %}"></script>
  <script src="{%static 'assets/plugins/slick/slick.min.js' %}"></script>
  <script src="{%static 'assets/js/main.js' %}"></script>
  <script src="{%static 'assets/js/loader.js' %}"></script>

</body>

</html>
{% endblock %}