{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!--end top header-->


<!--start page content-->
<div class="page-content">


   <!--start breadcrumb-->
   <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop With Grid</li>
        </ol>
      </nav>
    </div>
   </div>
   <!--end breadcrumb-->


   <!--start product grid-->
   <section class="section-padding">
    <h5 class="mb-0 fw-bold d-none">Product Grid</h5>
    <div class="container">
      <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-funnel me-1"></i> Filters</span></div>
       <div class="row">
          <div class="col-12 col-xl-3 filter-column">
              <nav class="navbar navbar-expand-xl flex-wrap p-0">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title mb-0 fw-bold" id="offcanvasNavbarFilterLabel">Filters</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div class="filter-sidebar">
                      <div class="card rounded-0">
                        <div class="card-header d-none d-xl-block bg-transparent">
                            <h5 class="mb-0 fw-bold">Filters</h5>
                        </div>
                        <div class="card-body">
                          <h6 class="p-1 fw-bold bg-light">Categories</h6>
                            <div class="categories">
                             <div class="categories-wrapper height-1 p-1">
                                {% for category in categories%}
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="chekCate1">
                                  <label class="form-check-label" for="chekCate1">
                                    <span>{{category.category}}</span><span class="product-number">(1548)</span>
                                  </label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </nav>
          </div>
          <div class="col-12 col-xl-9">
            <div class="shop-right-sidebar">
              <div class="card rounded-0">
                <div class="card-body p-2">
                  <div class="d-flex align-items-center justify-content-between bg-light p-2">
                     <div class="product-count">{{products.count}} Items Found</div>
                     <form>
                      <div class="input-group">
                        <span class="input-group-text bg-transparent rounded-0 border-0">Sort By</span>
                        <select class="form-select rounded-0">
                          <option selected="">Whats'New</option>
                          <option value="1">Popularity</option>
                          <option value="2">Better Discount</option>
                          <option value="3">Price : Hight to Low</option>
                          <option value="4">Price : Low to Hight</option>
                          <option value="5">Custom Rating</option>
                        </select>
                      </div>
                    </form> 
                  </div>
                </div>
              </div>

              <div class="product-grid mt-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                  {% for product in products %}
                    <div class="col">
                      <div class="card border shadow-none">
                        <div class="position-relative overflow-hidden">
                          <div class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                            {% if product.status == 1 %} 
                            <form action="{%url 'wish_product' product.pk %}" method = "POST">
                              {% csrf_token %}
                              <button type="submit" name="product.id" value="{{product.id}}"><i class="bi bi-heart-fill"></i></button>
                            </form>
                            {% else %}
                            <form action="{%url 'wish_product' product.pk %}" method = "POST">
                              {% csrf_token %}
                              <button type="submit" name="product.id" value="{{product.id}}"><i class="bi bi-heart"></i></button>
                            </form>
                            {% endif %}
                            {% if product.status_two == 2%}
                            <form action="{%url 'add_cart' product.pk%}" method="POST">
                              {% csrf_token %}
                              <button type="submit" value="{{product.id}}" name="product.id" ><i class="bi bi-cart"></i></button>
                            </form>
                            {% else %}
                            <form action="{%url 'add_cart' product.pk%}" method="POST">
                              {% csrf_token %}
                              <button type="submit" value="{{product.id}}" name="product.id" ><i class="bi bi-cart-fill"></i></button>
                            </form>
                            {% endif %}
                            <a href="javascript:;"><i class="bi bi-zoom-in"></i></a>
                          </div>
                          <a href="{%url 'product_details' product.id %}">
                            <img src="{{product.images.url}}" class="card-img-top" alt="...">
                          </a>
                        </div>
                        <div class="card-body border-top">
                          <h5 class="mb-0 fw-bold product-short-title">{{product.name}}</h5>
                          <p class="mb-0 product-short-name">{{product.description|truncatechars:20}}</p>
                          <div class="product-price d-flex align-items-center gap-2 mt-2">
                            <div class="h6 fw-bold">${{product.price}}</div>
                            <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                            <div class="h6 fw-bold text-danger">(70% off)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
              </div><!--end row-->
            </div>

            <hr class="my-4">

            <div class="product-pagination">
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:;">Next</a>
                  </li>
                </ul>
              </nav>
            </div>

            </div>
          </div>
       </div><!--end row-->

       
    </div>
  </section>
   <!--start product details-->


  
  
 </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="assets/images/logo1.png" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">About Us</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">Fashion</a></li>
               <li><a href="javascript:;">Women</a></li>
               <li><a href="javascript:;">Furniture</a></li>
               <li><a href="javascript:;">Shoes</a></li>
               <li><a href="javascript:;">Topwear</a></li>
               <li><a href="javascript:;">Brands</a></li>
               <li><a href="javascript:;">Kids</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="javascript:;">About Us</a></li>
               <li><a href="javascript:;">Contact Us</a></li>
               <li><a href="javascript:;">FAQ</a></li>
               <li><a href="javascript:;">Privacy</a></li>
               <li><a href="javascript:;">Terms</a></li>
               <li><a href="javascript:;">Complaints</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
             </div>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>




<!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
<!--End Back To Top Button-->
  

{% endblock %}